<div class="container mt-2">
    <h3 class="text-center">Registrar Producto</h3>
    <form (ngSubmit)="guardarInventario()">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre Producto</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="inventario" required>
        </div>
        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input type="number" class="form-control" id="cantidad" name="cantidad" [(ngModel)]="inventario" required>
        </div>

        <button type="submit" class="btn btn-outline-success">Agregar</button>
    </form>
</div>