<div class="container mt-2">
    <h3 class="text-center">Registrar Empleado</h3>
    <form (ngSubmit)="guardarEmpleado()">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="empleado.nombre" required>
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="empleado.apellido" required>
        </div>
        <div class="mb-3">
            <label for="puesto" class="form-label">Puesto</label>
            <input type="text" class="form-control" id="puesto" name="puesto" [(ngModel)]="empleado.puesto" required>
        </div>
        <button type="submit" class="btn btn-outline-success">Agregar</button>
    </form>
</div>